body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}


.all-squares {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1 / 1;
    height: 85vh;
    width: auto;
    /* box-sizing: border-box; */
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
}

.square {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    border: solid 1px white;
    margin: 0;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: pink;
}

button {
    padding: 10px;
    color: white;
    background-color: darkgray;
    font-size: large;
    font-weight: bold;
    border: 0px;
}

.modeHighlighted {
    background-color: pink;
}


